@font-face {
    font-family: 'futura';
    src: url(/font/futura/Futura\ Bold\ font.ttf);
}

* {
    margin: 0;
    padding: 0;
}

/* navbar */
header {
    padding: 30px 20px 30px 20px;
    background-color: #1F1F1F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #E50913;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 80px;
}

.title-2 {
    color: white;
}

.header-menu {
    display: flex;
    font-family: sans-serif;
    font-size: large;
    font-weight: 400;
    margin-right: 80px;
}

.header-menu a {
    text-decoration: none;
}

.header-menu-1 {
    margin-right: 20px;
}

.header-menu-1 a {
    color: white;
    margin-right: 10px;
    margin-left: 20px;
}

.header-menu {
    display: flex;
}

.header-menu-2 a {
    padding: 10px 20px 10px 20px;
    border: solid 2px;
    border-color: #0B6BFD;
    border-radius: 5px;
    margin-left: 10px;
}

.header-menu-2-register {
    background-color: #0B6BFD;
    color: white;
}

.header-menu-2-login {
    color: #0B6BFD;
}

/* body */

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121318;
    flex-direction: column;
    height: 700px;
}

.body-headlines {
    display: flex;
}

.body-headlines-1 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: xx-large;
    color: white;

}

.body-headlines-2 {
    margin-left: -70px;
}

.filling {
    margin-top: 2rem;
}

.login {
    background-color: #1F1F1F;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 10px;
    margin-top: 1rem;
}

.login label {
    color: white;
    margin-right: 10rem;
    font-size: large;
    font-family: sans-serif;
}

.login input {
    text-decoration: none;
    font-size: large;
    background-color: #1F1F1F;
    border-style: none;
    color: white;
    width: 300px;
    padding: 0.5rem;
}

.password {
    margin-left: -1.5rem;
}

.remember-me {
    margin-top: 1rem;
    color: white;
    font-family: sans-serif;
}

.remember-me label {
    margin-left: 0.5rem;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E50913;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 0.5rem 0;
    text-decoration: none;
}

.login-button label {
    font-size: large;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
}

.login-button img {
    filter: invert(100%) sepia(93%) saturate(27%) hue-rotate(233deg) brightness(107%) contrast(100%);
}

.dont-have-account {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-weight: 550;
    font-family: sans-serif;
}

.dont-have-account a {
    color: #E50913;
    text-decoration: none;
}

footer {
    background-color: #1F1F1F;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-in-footer {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #E50913;
    font-size: xxx-large;
    font-weight: bold;
}

.title-in-footer-2 {
    color: white;
}

.title-in-footer-desc {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: large;
    font-weight: 450;
}

.title-in-footer-desc-1 {
    color: #E50913;
}

.title-in-footer-desc-title {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 950;
}

.title-in-footer-desc-text {
    margin-left: 5px;
}

.social-media {
    margin-top: 0.3rem;
}

.social-media img {
    padding: 0.5rem;
    background-color: #8E8E8E;
    border-radius: 5rem;
    height: 30px;
    margin: 0.5rem;
    filter: invert(100%) sepia(93%) saturate(27%) hue-rotate(233deg) brightness(107%) contrast(100%);
}

.other {
    display: flex;
    justify-content: center;
    align-items: center;
}

.other a {
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 450;
    font-family: sans-serif;
    text-decoration: none;
}

.other hr {
    margin: 0 2rem;
    height: 2rem;
    width: 2px;
    border-width: 0;
    background-color: white;
}

.about {
    margin-right: 2rem;
}

.copyright {
    margin-top: 1rem;
    color: white;
    display: flex;
    font-weight: 450;
    font-family: sans-serif;
}

.copyright-text-1 {
    margin-right: 0.4rem;
}

.copyright-text-3 {
    margin-left: 0.4rem;
}



@media screen and (max-width: 900px) {
    header {
        display: flex;
        flex-wrap: wrap;
    }
}